<a href="https://colab.research.google.com/github/victor-maciel/tabd-unifacisa/blob/master/movies2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

In [6]:
uri='https://raw.githubusercontent.com/DWA-GIT/TESI-UNIFACISA/master/avaliacoes_usuario.csv'
movies = pd.read_csv(uri, encoding='ISO-8859-1')
movies.head(5)

                     Titulo  Documentary  ...  Investimento  Gostou
0              Nixon (1995)            0  ...      7.930748       1
1  Leaving Las Vegas (1995)            0  ...     18.276555       1
2         Persuasion (1995)            0  ...     16.582232       1
3               Babe (1995)            0  ...     13.004553       1
4         Carrington (1995)            0  ...     14.418120       1

[5 rows x 17 columns]

In [11]:
Counter(movies['Gostou'])

Counter({0: 135, 1: 543})

In [13]:
print('Gostou {}'.format(543/(535+135)))

Gostou 0.8104477611940298

In [15]:
print('Não gostou {}'.format(135/(535+135)))

Não gostou 0.20149253731343283

In [0]:
features = movies[movies.columns[1:16]]
labels = movies[movies.columns[16:]]

treino, teste, treino_labels, teste_labels = train_test_split(features, labels, test_size=0.25)

In [25]:
Counter(treino_labels['Gostou'])

Counter({0: 103, 1: 405})

In [27]:
Counter(teste_labels['Gostou'])

Counter({0: 32, 1: 138})

In [29]:
print('Gostou {}'.format(405/(405+103)))

Gostou 0.797244094488189

In [30]:
print('Gostou {}'.format(103/(405+103)))

Gostou 0.20275590551181102