<a href="https://colab.research.google.com/github/victor-maciel/tabd-unifacisa/blob/master/prova_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

uri = "https://raw.githubusercontent.com/DWA-GIT/TESI-UNIFACISA/master/projects.csv"

dados = pd.read_csv(uri)

dados.tail()

      unfinished  expected_hours  price
2152           0              80   7518
2153           1              52   1332
2154           0              40    473
2155           0              75   5324
2156           1              37    377

In [4]:
a_renomear = {
    "unfinished": "nao_finalizado",
    "expected_hours":"horas_esperadas",
    "price":"preco"
}

dados = dados.rename(columns=a_renomear)

dados.head()

   nao_finalizado  horas_esperadas  preco
0               1               26    192
1               1               88   9015
2               1               89   2577
3               1               42    275
4               1               39    170

In [6]:
troca = {
    0:1,
    1:0
}

dados["finalizado"] = dados.nao_finalizado.map(troca)
dados.head()

   nao_finalizado  horas_esperadas  preco  finalizado
0               1               26    192           0
1               1               88   9015           0
2               1               89   2577           0
3               1               42    275           0
4               1               39    170           0

In [8]:
X = dados[['horas_esperadas', 'preco']]
Y = dados[['finalizado']]

X.shape
Y.shape

(2157, 1)

In [12]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

SEED = 50

treino_X, teste_X, treino_Y, teste_Y = train_test_split(X, Y, test_size=0.25, random_state=SEED)

print ("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_X), len(teste_X)) )

Treinaremos com 1617 elementos e testaremos com 540 elementos

In [14]:
modelo = LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=SEED, tol=0.0001,
          verbose=0)
modelo.fit(treino_X, treino_Y)
previsoes = modelo.predict(teste_X)
acuracia = accuracy_score(teste_Y, previsoes) * 100
print("A minha acuracia foi de %.2f nas previsoes" % acuracia)

A minha acuracia foi de 54.26 nas previsoes

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [16]:
import numpy as np

previsoes_moeda = np.ones(540)
acuracia = accuracy_score(teste_Y, previsoes_moeda) * 100
print("A minha acuracia foi de %.2f nas previsoes" % acuracia)

A minha acuracia foi de 53.89 nas previsoes

In [35]:
from sklearn.svm import SVC

SEED = 10

np.random.seed(SEED)

treino_X, teste_X, treino_Y, teste_Y = train_test_split(X, Y, test_size=0.30, random_state=SEED, stratify=Y)
print ("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_X), len(teste_X)) )

Treinaremos com 1509 elementos e testaremos com 648 elementos

In [36]:
modelo = SVC()
modelo.fit(treino_X, treino_Y)
previsoes = modelo.predict(teste_X)
acuracia = accuracy_score(teste_Y, previsoes) * 100
print("A minha acuracia foi de %.2f nas previsoes" % acuracia)

A minha acuracia foi de 61.57 nas previsoes

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [41]:
from sklearn.svm import SVC

SEED = 10

np.random.seed(SEED)

treino_X, teste_X, treino_Y, teste_Y = train_test_split(X, Y, test_size=0.50, random_state=SEED, stratify=Y)
print ("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_X), len(teste_X)) )

Treinaremos com 1078 elementos e testaremos com 1079 elementos

In [42]:
modelo = SVC()
modelo.fit(treino_X, treino_Y)
previsoes = modelo.predict(teste_X)
acuracia = accuracy_score(teste_Y, previsoes) * 100
print("A minha acuracia foi de %.2f nas previsoes" % acuracia)

A minha acuracia foi de 58.76 nas previsoes

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)